<%= form_for(team_member_of_team) do |f| %>
  <% if team_member_of_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team_member_of_team.errors.count, "error") %> prohibited this team_member_of_team from being saved:</h2>

      <ul>
      <% team_member_of_team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %>
    <%= f.text_field :team_id %>
  </div>

  <div class="field">
    <%= f.label :member_of_team_id %>
    <%= f.text_field :member_of_team_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
