<p id="notice"><%= notice %></p>

<h1>Team Member Of Teams</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Member of team</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_member_of_teams.each do |team_member_of_team| %>
      <tr>
        <td><%= team_member_of_team.team %></td>
        <td><%= team_member_of_team.member_of_team %></td>
        <td><%= link_to 'Show', team_member_of_team %></td>
        <td><%= link_to 'Edit', edit_team_member_of_team_path(team_member_of_team) %></td>
        <td><%= link_to 'Destroy', team_member_of_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team Member Of Team', new_team_member_of_team_path %>
