<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @team_member_of_team.team %>
</p>

<p>
  <strong>Member of team:</strong>
  <%= @team_member_of_team.member_of_team %>
</p>

<%= link_to 'Edit', edit_team_member_of_team_path(@team_member_of_team) %> |
<%= link_to 'Back', team_member_of_teams_path %>
