<md-toolbar class="md-theme-light">
    <h3 class="md-toolbar-tools"><span>Questão</span></h3>
</md-toolbar>

<md-content>
   <div>
        <h3>Duração: {{question.name}} </h3>
    </div>
</md-content>