<div ng-show="singnedIn()">
    <md-toolbar class="md-theme-light">
        <h3 class="md-toolbar-tools"><span>Editar time</span></h3>
    </md-toolbar>

    <md-content>
        <form ng-submit="editTeam()" style="margin-top: 30px;">
            <md-input-container class="md-block">
                <label>Nome do time:</label>
                <input type="text" ng-model="team.name"required md-no-asterisk>
            </md-input-container>
            <div><md-button type="submit">Atualizar</md-button></div>
        </form>
    </md-content>
</div>