 <div>
    <div ng-show="singnedIn()">
        <md-toolbar class="md-theme-light">
            <h3 class="md-toolbar-tools"><span>Criar novo time</span></h3>
        </md-toolbar>

        <md-content>
            <form ng-submit="addTeam()" style="margin-top: 30px;">
                <md-input-container class="md-block">
                    <label>Nome do time:</label>
                    <input type="text" ng-model="name"required md-no-asterisk>
                </md-input-container>
                <div><md-button type="submit">Criar</md-button></div>
            </form>
        </md-content>
     </div>

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Times</span>
        </h2>
    </md-toolbar>

    <md-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="team in teams">
                <div class="md-list-item-text">
                <h3>Nome: {{team.name}}</h3>
                <h4> Score: {{team.score}} </h4>
                </div>
                <md-button class="md-secondary" href="#!/teams/show/{{team.id}}">Show</md-button>
                <md-button ng-show="singnedIn()" class="md-secondary" href="#!/teams/edit/{{team.id}}">Edit</md-button>
                <md-button ng-show="singnedIn()" ng-click="openDialog($event, team)" class="md-secondary md-warn">Delete</md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
 </div>