<md-toolbar class="md-theme-light">
    <h3 class="md-toolbar-tools"><span>Time</span></h3>
</md-toolbar>
<md-content ng-show="singnedIn()">
    <div>
        <md-button ng-click="openDialogMember($event, team)" class="md-primary">Adicionar Membro Do Time</md-button>
    </div>
</md-content>
<md-content>
   <div>
        <h3>Nome: {{team.name}}</h3>
        <h4> Score: {{team.score}}</h4>
    </div>
</md-content>

<div ng-cloak layout-gt-sm="row" layout="column">

  <div flex>

    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Membros</span>
      </div>
    </md-toolbar>

    <md-content>
        <md-list flex>
            <md-list-item ng-repeat="member in team.member_of_teams">
              <md-subheader class="md-no-sticky">{{member.name}}</md-subheader>
              <md-button class="md-secondary md-icon-button" ng-click="openDialogRemoveMember($event, team, member)">
                <md-icon md-svg-src="assets/ic_close_24px.svg" aria-label="Remove Dialog"></md-icon>
              </md-button>
            </md-list-item>
        </md-list>
    </md-content>
  </div>
</div>