<div ng-show="singnedIn()">
    <md-button class="md-primary" href="#!/marathons">Cadastrar Maratona</md-button>
    <md-button class="md-primary" href="#!/teams">Cadastrar Time</md-button>
</div>
<div>
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
        <span>Maratonas</span>
        </h2>
    </md-toolbar>

    <md-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="marathon in marathons">
                <div class="md-list-item-text">
                <h3>Duração:</h3>
                <h4> {{marathon.duration | date: "HH:mm" : '-300'}}</h4>
                <p>
                    Status: {{marathon.status}}
                </p>
                </div>
                <md-button class="md-secondary" href="#!/marathons/show/{{marathon.id}}">Show</md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>