<p id="notice"><%= notice %></p>

<p>
  <strong>Marathon:</strong>
  <%= @answer.marathon %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question %>
</p>

<p>
  <strong>Team:</strong>
  <%= @answer.team %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
