<%= form_for(marathon_question) do |f| %>
  <% if marathon_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marathon_question.errors.count, "error") %> prohibited this marathon_question from being saved:</h2>

      <ul>
      <% marathon_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :marathon_id %>
    <%= f.text_field :marathon_id %>
  </div>

  <div class="field">
    <%= f.label :question_id %>
    <%= f.text_field :question_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
