<p id="notice"><%= notice %></p>

<h1>Marathon Questions</h1>

<table>
  <thead>
    <tr>
      <th>Marathon</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marathon_questions.each do |marathon_question| %>
      <tr>
        <td><%= marathon_question.marathon %></td>
        <td><%= marathon_question.question %></td>
        <td><%= link_to 'Show', marathon_question %></td>
        <td><%= link_to 'Edit', edit_marathon_question_path(marathon_question) %></td>
        <td><%= link_to 'Destroy', marathon_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marathon Question', new_marathon_question_path %>
