<p id="notice"><%= notice %></p>

<p>
  <strong>Marathon:</strong>
  <%= @marathon_question.marathon %>
</p>

<p>
  <strong>Question:</strong>
  <%= @marathon_question.question %>
</p>

<%= link_to 'Edit', edit_marathon_question_path(@marathon_question) %> |
<%= link_to 'Back', marathon_questions_path %>
