<md-toolbar class="md-theme-light">
    <h3 class="md-toolbar-tools"><span> Maratona </span></h3>
</md-toolbar>

<md-content>
    <div>
        <h3>Duração: {{marathon.duration | date: "HH:mm" : '-300'}} </h3>
        <h4> Status: {{marathon.status}}</h4>
    </div>
</md-content>

<md-content>
  <md-progress-linear md-mode="determinate" value="{{determinateValue}}"></md-progress-linear>
</md-content>
<br>
<table class="acomp">
  <thead>
    <tr>
      <th >Rk</th>
      <th >Time</th>
      <th >Slv.</th>
      <th >Tempo</th>
      <th ng-repeat="question in marathon.questions" >{{question.name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="team in marathon.teams | orderBy:pontuacao:'$index':true">
      <td>{{$index + 1}}</td>
      <td>{{team.name}}</td>
      <td>{{team.slv()}}</td>
      <td>{{team.calcTime() / 60| number:3}}</td>
      <td ng-repeat="question in marathon.questions" ng-click="openDialogSubmeter($event, marathon, team, question)">
        <span ng-if="findAnswer(question, team)" class="animate-if">
        <span ng-show="answer.status === 'certain'">
          <md-icon md-svg-src='assets/check.svg'></md-icon>
        </span>
        <span ng-show="answer.status === 'wrong'">
          <md-icon md-svg-src='assets/cross.svg'></md-icon>
        </span>
          <span ng-style="answer.status === 'certain' ? { color:'green' } : { color:'red' }">
            {{answer.attempt}}
          </span>
        </span>
      </td>
    </tr>
  </tbody>
</table>