<md-dialog aria-label="Submeter Question Dialog">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Submeter Questão</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <md-icon md-svg-src="assets/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak>
    <div class="md-dialog-content">
        <table>
            <thead>
                <tr>
                <th >Time</th>
                <th >Questão</th>
            </thead>
            <tbody>
                <tr>
                    <td><span>{{ctrl.team.name}}</span></td>
                    <td>{{ctrl.question.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-raised md-primary" aria-label="Correta" ng-click="ctrl.submeter($event, 'certain')">Correta</md-button>
    <md-button class="md-raised md-warn" aria-label="Errada" ng-click="ctrl.submeter($event, 'wrong')">Errada</md-button>
    <md-button aria-label="Finished" ng-click="ctrl.finish($event)">Cancelar</md-button>
  </md-dialog-actions>
</md-dialog>