<div ng-show="singnedIn()">
    <md-toolbar class="md-theme-light">
        <h3 class="md-toolbar-tools">Editar membro do time</h3>
    </md-toolbar>

    <md-content layout-padding>
        <form ng-submit="editMemberOfTeam()" style="margin-top: 30px;">
            <md-input-container class="md-block">
                <label>Nome:</label>
                <input type="text" ng-model="memberOfTeam.name" required md-no-asterisk>
            </md-input-container>
            <div><md-button type="submit">Atualizar</md-button></div>
        </form>
    </md-content>
</div>