<md-toolbar class="md-theme-light">
    <h3 class="md-toolbar-tools"><span>Membro do time</span></h3>
</md-toolbar>

<md-content>
   <div>
        <h3>Nome: {{memberOfTeam.name}} </h3>
    </div>
</md-content>