<div>
    <div ng-show="singnedIn()">
        <md-toolbar class="md-theme-light">
            <h3 class="md-toolbar-tools">Criar novo membro do time</h3>
        </md-toolbar>

        <md-content layout-padding>
            <form ng-submit="addMemberOfTeam()" style="margin-top: 30px;">
                <md-input-container class="md-block">
                    <label>Nome:</label>
                    <input type="text" ng-model="name" required md-no-asterisk>
                </md-input-container>
                <div><md-button type="submit">Criar</md-button></div>
            </form>
        </md-content>
    </div>

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Membros do Time</span>
        </h2>
    </md-toolbar>

    <md-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="memberOfTeam in memberOfTeams">
                <div class="md-list-item-text">
                    <h3>Nome:</h3>
                    <h4> {{memberOfTeam.name}}</h4>
                </div>
                <md-button class="md-secondary" href="#!/member_of_teams/show/{{memberOfTeam.id}}">Show</md-button>
                <md-button class="md-secondary" href="#!/member_of_teams/edit/{{memberOfTeam.id}}">Edit</md-button>
                <md-button ng-click="openDialog($event, memberOfTeam)" class="md-secondary md-warn">Delete</md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>