<md-dialog aria-label="Adicione O Time A Maratona">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Adicione O Time A Maratona</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <md-icon md-svg-src="assets/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak>
    <div class="md-dialog-content">
      <form ng-submit="$event.preventDefault()">
        <p>Selecione os <code>times</code> e click em adicionar, para adiciona-lo a maratona.</p>
        <md-autocomplete
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text="ctrl.searchText"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.name"
            md-min-length="0"
            placeholder="Selecione um time"
            md-menu-class="autocomplete-custom-template"
            md-autofocus>
          <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
          </md-item-template>
          <md-not-found>
            Não foi encontrado nenhum time chamado "{{ctrl.searchText}}".
          </md-not-found>
        </md-autocomplete>
      </form>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button ng-click="ctrl.addTeam()" class="md-primary">Adicionar</md-button>
    <md-button aria-label="Fechar" ng-click="ctrl.finish($event)">Fechar</md-button>
  </md-dialog-actions>
</md-dialog>