<div ng-show="singnedIn()">
    <md-toolbar class="md-theme-light">
        <h3 class="md-toolbar-tools">Editar maratona</h3>
    </md-toolbar>

    <md-content layout-padding>
        <form ng-submit="editMarathon()" style="margin-top: 30px;">
            <md-input-container class="md-block">
                <label>Duração:</label>
                <input type="time" ng-model="marathon.duration" required md-no-asterisk>
            </md-input-container>
            <div><md-button type="submit">Atualizar</md-button></div>
        </form>
    </md-content>
</div>