<md-dialog aria-label="Iniciar Marathon Dialog">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>Iniciar</h1>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <md-icon md-svg-src="assets/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak>
    <div class="md-dialog-content">
        <p>Você tem certeza que deseja iniciar a maratona?</p>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-raised md-warn" aria-label="Cancel" ng-href="{{ctrl.navigateToPath()}}" ng-click="ctrl.iniciarMarathon($event)">Iniciar</md-button>
    <md-button aria-label="Finished" ng-click="ctrl.finish($event)">Cancelar</md-button>
  </md-dialog-actions>
</md-dialog>