<md-toolbar class="md-theme-light">
    <h3 class="md-toolbar-tools"><span>Maratona</span></h3>
</md-toolbar>

<md-content>
    <div>
        <h3>Duração: {{marathon.duration | date: "HH:mm" : '-300'}} </h3>
        <h4> Status: {{marathon.status}}</h4>
    </div>
</md-content>
<md-content ng-show="singnedIn()">
    <div>
        <md-button ng-click="openDialogTeam($event, marathon)" class="md-primary">Adicionar Times</md-button>
        <md-button ng-click="openDialogQuestion($event, marathon)" class="md-primary">Adicionar Questões</md-button>
        <md-button ng-show="marathon.status === 'aberta'" ng-click="openDialogIniciar($event, marathon)" class="md-primary">Iniciar Maratona</md-button>
        <md-button ng-show="marathon.status === 'iniciada'"  href="#!/acompanhamento/{{marathon.id}}" class="md-primary">Acompanhar Maratona</md-button>
    </div>
</md-content>

<div ng-cloak layout-gt-sm="row" layout="column">

  <div flex-gt-sm="50" flex>

    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Times</span>
      </div>
    </md-toolbar>

    <md-content>
        <md-list flex>
            <md-list-item ng-repeat="team in marathon.teams">
              <md-subheader class="md-no-sticky">{{team.name}}</md-subheader>
              <md-button class="md-secondary md-icon-button" ng-click="openDialogRemoveTeam($event, marathon, team)">
                <md-icon md-svg-src="assets/ic_close_24px.svg" aria-label="Remove Dialog"></md-icon>
              </md-button>
            </md-list-item>
        </md-list>
    </md-content>
  </div>

  <md-divider></md-divider>

  <div flex-gt-sm="50" flex>

    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Questões</span>
      </div>
    </md-toolbar>

    <md-content>
        <md-list flex>
            <md-list-item ng-repeat="question in marathon.questions">
              <md-subheader class="md-no-sticky">{{question.name}}</md-subheader>
              <md-button class="md-secondary md-icon-button" ng-click="openDialogRemoveQuestion($event, marathon, question)">
                <md-icon md-svg-src="assets/ic_close_24px.svg" aria-label="Remove Dialog"></md-icon>
              </md-button>
            </md-list-item>  
        </md-list>
    </md-content>
  </div>
</div>