<div>
    <div ng-show="singnedIn()">
        <md-toolbar class="md-theme-light">
            <h3 class="md-toolbar-tools">Criar nova maratona</h3>
        </md-toolbar>
        
        <md-content layout-padding>
            <form ng-submit="addMarathon()" style="margin-top: 30px;">
                <md-input-container class="md-block">
                    <label>Duração:</label>
                    <input type="time" name="usr_time" ng-model="duration" required md-no-asterisk>
                </md-input-container>
                <div><md-button type="submit">Criar</md-button></div>
            </form>
        </md-content>
    </div>

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Maratonas</span>
        </h2>
    </md-toolbar>

    <md-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="marathon in marathons">
                <div class="md-list-item-text">
                <h3>Duração:</h3>
                <h4> {{marathon.duration | date: "HH:mm" : '-300'}}</h4>
                <p>
                    Status: {{marathon.status}}
                </p>
                </div>
                <md-button class="md-secondary" href="#!/marathons/show/{{marathon.id}}">Show</md-button>
                <md-button ng-show="singnedIn()" class="md-secondary" href="#!/marathons/edit/{{marathon.id}}">Edit</md-button>
                <md-button ng-show="singnedIn()" ng-click="openDialog($event, marathon)" class="md-secondary md-warn">Delete</md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>