<md-dialog aria-label="Remove Question Dialog">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Remover</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <md-icon md-svg-src="assets/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak>
    <div class="md-dialog-content">
        <p>Você tem certeza que deseja remover?</p>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-raised md-warn" aria-label="Cancel" ng-click="ctrl.removeQuestion($event)">Remover</md-button>
    <md-button aria-label="Finished" ng-click="ctrl.finish($event)">Cancelar</md-button>
  </md-dialog-actions>
</md-dialog>