<div ng-controller="NavCtrl" ng-cloak>
  <md-content class="md-padding">
      <md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-href="#!/home" name="home">
            Home
        </md-nav-item>
        <md-nav-item md-nav-href="#!/marathons" name="marathons">
            Maratonas
        </md-nav-item>
        <md-nav-item md-nav-href="#!/teams" name="teams">
            Times
        </md-nav-item>
         <md-nav-item ng-show="singnedIn()" md-nav-href="#!/member_of_teams" name="memberOfTeams">
            Membros do time
        </md-nav-item>
        <md-nav-item ng-show="singnedIn()" md-nav-href="#!/questions" name="questions">
            Questões
        </md-nav-item>
        <md-nav-item ng-show="singnedIn()" md-nav-href="#!/" name="username">
            {{user.username}}
        </md-nav-item>
        <md-nav-item ng-hide="singnedIn()" md-nav-href="#!/login" name="login">
            Login
        </md-nav-item>
        <md-nav-item ng-hide="singnedIn()" md-nav-href="#!/register" name="register">
            Cadastro
        </md-nav-item>
        <md-nav-item ng-show="singnedIn()" md-nav-click="logout()" name="logout">
            Log out
        </md-nav-item>
        </md-nav-bar>
    </md-content>
</div>