.acomp {
    margin-bottom: 0;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    height: 50%;
    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
        th {
            background: #586674;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            color: #e2e6e9;
            padding: 14px 16px;
            background-clip: padding-box;
        }
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            td {
                background-clip: padding-box;
                padding: 4px 16px;
                color: #5A5A64;
                background: #f2f2f2;
                border-left: 1px solid #E7E7E8;
                border-right: 1px solid #E7E7E8;
                border-bottom: 1px solid #E7E7E8;
                font-size: 14px;
                padding: 0;
                margin: 0;
                text-align: center;
            }
        }
    }
}

// Toast Angular Material
md-toast.md-success-toast-theme .md-toast-content {
  background-color: green;
}