<div layout="column" layout-padding ng-cloak>
    <h1>Log In</h1>
    
    <md-content class="md-no-momentum">
        <form ng-submit="login()">
            <md-input-container class="md-icon-float md-block">
                <label>Email</label>
                <input ng-model="user.email" type="email">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Password</label>
                <input ng-model="user.password" type="password">
            </md-input-container>

            <md-button type='submit' class="md-raised md-primary">Log In</md-button>
        </form>
    </md-content>
    
</div>

