<div layout="column" layout-padding ng-cloak>
    <h1>Register</h1>
    <md-content class="md-no-momentum">
        <form ng-submit="register()">
            <md-input-container class="md-icon-float md-block">
                <label>Email</label>
                <input ng-model="user.email" type="email" required>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>User name</label>
                <input ng-model="user.username" type="text" required>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Password</label>
                <input ng-model="user.password" type="password" required minlength="6">
                <div ng-messages="user.password.$error" ng-show="user.password.$dirty">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>

            <md-button type='submit' class="md-raised md-primary">Register</md-button>
        </form>
    </md-content>
</div>