<!DOCTYPE html>
<html>
  <head>
    <title>Maratona</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body ng-app='maratona'>
    <div ng-include=" 'nav/_nav.html' "></div>
    <ui-view></ui-view>
  </body>
</html>